In [64]:
include("data.jl")

In [65]:
# load users
users = load_users()
USER_SIZE = size(users, 1)

# load movies
movies = load_movies()
MOVIE_SIZE = size(movies, 1)

# load ratings
ratings = load_ratings()

NULL_VALUE = MOVIE_SIZE + 1
MASK_VALUE = MOVIE_SIZE + 2

3885

In [70]:
count_user = sort!(combine(groupby(ratings, :uid), nrow => :count), :uid, rev=true)

6040×2 DataFrame
  Row │ uid    count
      │ Int64  Int64
──────┼──────────────
    1 │  6040    341
    2 │  6039    123
    3 │  6038     20
    4 │  6037    202
    5 │  6036    888
    6 │  6035    280
    7 │  6034     21
    8 │  6033     60
  ⋮   │   ⋮      ⋮
 6034 │     7     31
 6035 │     6     71
 6036 │     5    198
 6037 │     4     21
 6038 │     3     51
 6039 │     2    129
 6040 │     1     53
    6025 rows omitted

In [78]:
count_movie = sort!(combine(groupby(ratings, :mid), nrow => :count), :count,rev=true)

3706×2 DataFrame
  Row │ mid    count
      │ Int64  Int64
──────┼──────────────
    1 │  2858   3428
    2 │   260   2991
    3 │  1196   2990
    4 │  1210   2883
    5 │   480   2672
    6 │  2028   2653
    7 │   589   2649
    8 │  2571   2590
  ⋮   │   ⋮      ⋮
 3700 │  3656      1
 3701 │  3722      1
 3702 │  3779      1
 3703 │  3842      1
 3704 │  3881      1
 3705 │  3890      1
 3706 │  3904      1
    3691 rows omitted

In [74]:
max(ratings.mid...)

3952

In [75]:
max(ratings.uid...)

6040

In [76]:
size(users)

(6040, 5)

In [77]:
size(movies)

(3883, 3)